<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  {{ partial "css" . }}
  <title>Rob's cool project</title>
</head>

<body>


  <main role="main">
    {{ partial "header" . }}

    <div class="container">
          <h1>{{.Title}}</h1>
      {{ .Content }}
    </div>
    {{ partial "footer" . }}
  </main>



  {{ partial "js" . }}

</body>

</html>
