<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  {{ partial "css" . }}
  <title>Rob's cool project</title>
</head>

<body>



  <main role="main">
    {{ partial "header" . }}
    <div class="jumbotron">
      <!-- <div class="container"> -->
      <h1>{{ .Title }}</h1>
      <!-- <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Click here &raquo;</a></p>
      </div> -->
    </div>
    <div class="container">

      {{ partial "breadcrumbs" . }} {{ .Content }} {{ partial "disqus" . }}
    </div>

    {{ partial "footer" . }}
  </main>



  {{ partial "js" . }}
  <script id="dsq-count-scr" src="//newsite-9.disqus.com/count.js" async></script>
</body>

</html>
